// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "vars";


body {
  background-color: #ececec;
}

h1 {
  margin: 100px auto 60px auto;
  font-size: 60px;
  font-weight: 500;
  color: $secondary-color;
  font-family: $font-title;
}

p {
  font-family: $font-text;
}

nav {
  background-color: $primary-color;

  .nav-link {
    color: $text-color-primary;
  }

  .navbar-brand {
    width: 50px;
    border-radius: 50%;
  }

  .nav-link-red {
    color: $secondary-color;
  }
}

#home {
  a {
    @extend .btn_item;
  }
}

#articles {
  a {
    @extend .btn_item;
  }

  .card {
    border: none;
    border-radius: 0;
  }

  .card-img-top {
    max-height: 200px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0;
  }

  .card-body {
    min-height: 160px;
  }

  .card-footer {
    border: none;
    background-color: white;
  }
}

.flash-message {
  margin-top: 100px;
  max-width: 540px;

  .alert {
    width: 600px;
    height: 80px;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    &:before {
      content: "";
      position: absolute;
      right: 100%;
      top: 26px;
      width: 0;
      height: 0;
    }
  }
  .alert-success{
    background-color: #d4edda;
    &:before{
      border-top: 13px solid transparent;
      border-right: 26px solid #d4edda;
      border-bottom: 13px solid transparent;
    }
  }

  .alert-danger{
    background-color: #f8d7da;
    &:before{
      border-top: 13px solid transparent;
      border-right: 26px solid #f8d7da;
      border-bottom: 13px solid transparent;
    }
  }

}
