// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "vars";


body {
  background-color: #ececec;
}

h1 {
  margin: 100px auto 60px auto;
  font-size: 60px;
  font-weight: 500;
  color: $secondary-color;
  font-family: $font-title;
}

p {
  font-family: $font-text;
}

nav{
  background-color: $primary-color;

  .nav-link{
    color: $text-color-primary;
  }

  .navbar-brand{
    width: 50px;
    border-radius: 50%;
  }
  .navbar-nav{
    float: right;
  }
}

#home {
  @extend .btn_item;
  @extend .btn_item:hover;
}

#articles {
  @extend .btn_item;
  @extend .btn_item:hover;

  .card {
    border: none;
    border-radius: 0;
  }

  .card-img-top {
    max-height: 200px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0;
  }

  .card-body {
    min-height: 160px;
  }

  .card-footer {
    border: none;
    background-color: white;
  }
}
