<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block headercontent %}
    {% include 'Common/_navbar.html.twig' %}
{% endblock %}

<div class="container">
    <div class="row flash-message mx-auto">
{% for flashMessage, messages in app.flashes %}
    {% for message in messages %}
        <div class="text-center alert alert-{{ flashMessage }}">
            <p class="align-items-center">{{ message }}</p>
        </div>
    {% endfor %}
{% endfor %}
    </div>
</div>

{% block body %}{% endblock %}
<script src="https://kit.fontawesome.com/f62deca48c.js"></script>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
