{% extends 'base.html.twig' %}

{% block title %}Articles par tag{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center">tags list</h1>


        <ul>
            {% for tag in tags %}
                <li><a href="{{ path('tag_show', {'name': tag.name}) }}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
