{% extends 'base.html.twig' %}

{% block title %}Articles par tag{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center">Liste des tags</h1>


        <ul>
            {% for tag in tags %}
                <li>{{ tag.id }} – {{ tag.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
